* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: sans-serif;
  }
  body{
    background-color: rgb(234, 255, 255);
    overflow-x: hidden;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin: 3px auto;
    background-color: rgb(242, 255, 255);
    box-shadow: 0px 0px 10px black;
  }
  
  header>a>img {
    height: 50px;
    border-radius: 50%;
  }
  
  .navbar {
    display: flex;
    gap: 10px;
  }
  
  .navitems {
    text-decoration: none;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .navitems>a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    z-index: 55;
  }
  
  #navitems1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    top: 100%;
    transition: all 0.3s ease;
  }
  
  #navitems1:hover::after {
    top: 0;
    border-radius: 5px;
  }
  #navitems2::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: rgb(179, 0, 134);
    border-radius: 0% 50% 50% 0%;
    left: 50%;
    transition: all 0.3s ease;
  }
  
  #navitems2:hover::after {
    width: 50%;
    border-radius: 0% 5px 5px 0%;
  }
  #navitems2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: rgb(0, 10, 147);
    border-radius: 50% 0% 0% 50%;
    right: 50%;
    transition: all 0.3s ease;
  }
  
  #navitems2:hover::before {
    width: 50%;
    border-radius: 5px 0px 0px 5px;
  }
  #navitems3::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: rgb(0, 0, 0);
    left: 0;
    transition: all 0.3s ease;
  }
  
  #navitems3:hover::before {
    width: 100%;
    border-radius: 0% 50% 50% 0%;
    border-radius: 0% 5px 5px 0%;
  }
  
  .navitems:hover a {
    color: white;
  }
  
  
  
  @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
  
  svg {
    font-family: "Russo One", sans-serif;
    width: 100%;
    height: 100%;
  }
  
  svg text {
    animation: stroke 4s infinite alternate;
    stroke-width: 2;
    stroke: #365FA0;
    font-size: 60px;
  
  }
  
  @keyframes stroke {
    0% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgba(54, 95, 160, 1);
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }
  
    70% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgba(54, 95, 160, 1);
    }
  
    80% {
      fill: rgba(72, 138, 204, 0);
      stroke: rgba(54, 95, 160, 1);
      stroke-width: 3;
    }
  
    100% {
      fill: rgba(72, 138, 204, 1);
      stroke: rgba(54, 95, 160, 0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }
  
  .wrapper {
    position: relative;
    animation: scrolhead 1s ease;
  }
  
  @keyframes scrolhead {
    0% {
      right: -100%;
      scale: 0.1;
      opacity: 0;
    }
  
    100% {
      right: 0;
      scale: 1;
      opacity: 1;
    }
  }
  
  .wrapper {
    background-color: inherit;
  }