* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(237, 251, 255, 0.788);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 3px auto;
  background-color: rgb(242, 255, 255);
  box-shadow: 0px 0px 10px black;
}

header>a>img {
  height: 60px;
  border-radius: 50%;
}

.navbar {
  display: flex;
  gap: 10px;
}

.navbar>h1 {
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.navbar>h1>a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
  z-index: 55;
}

.navbar>h1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  top: 100%;
  transition: all 0.3s ease;
}

.navbar>h1:hover::after {
  top: 0;
  border-radius: 5px;
}

.navbar>h1:hover a {
  color: white;
}



@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}

svg text {
  animation: stroke 4s infinite alternate;
  stroke-width: 2;
  stroke: #365FA0;
  font-size: 60px;

}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  position: relative;
  animation: scrolhead 1s ease;
}

@keyframes scrolhead {
  0% {
    right: -100%;
    scale: 0.1;
    opacity: 0;
  }

  100% {
    right: 0;
    scale: 1;
    opacity: 1;
  }
}

.wrapper {
  background-color: inherit;
}


.main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 0px;
  background-color: rgba(237, 251, 255, 0.788);

  .box {
    height: auto;
    width: 20%;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 8px black;
    border-radius: 5px;
    transition: all 0.2s linear;
    border: 1px solid red;
    position: relative;
    bottom: 0;

    &:hover {
      /* box-shadow: 10px 10px 15px black; */
      bottom: 10px;
    }
  }
}

.main-scale {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0px;
  background-color: rgba(237, 251, 255, 0.788);
  box-shadow: 0px 0px 10px black;

  .box {
    height: auto;
    width: 20%;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726);
    border-radius: 5px;
    transition: all 0.2s linear;
    border: 1px solid red;
    position: relative;
    bottom: 0;

    &:hover {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.726);
    }
  }
}

.mylist {
  margin: 50px 0px;
}

.mylist>h1 {
  background-color: rgb(233, 233, 233);
  margin-bottom: 5px;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

.mylist>h1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: -100%;
  background-color: orange;
  transition: all 0.5s ease;
}

.mylist>h1:hover::after {
  top: 0;
}

.mylist>h1>li {
  list-style-type: none;
  position: relative;
  z-index: 20;
  font-size: 18px;
  font-weight: 600;
}

.mylist>h1>img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  position: fixed;
  top: 30%;
  right: 30%;
  border-radius: 10px;
  display: none;
  z-index: 55;
}

.mylist>h1:hover>img {
  display: block;
}

@media screen and (max-width: 950px) {
  .main>.box {
    width: 45%;
  }

  .main-scale>.box {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  header>img {
    height: 30px;
  }

  .navbar>h1 {
    padding: 7px 10px;
    border-radius: 15px;
  }

  .navbar>h1>a {
    font-size: 16px;
  }

  .main>.box {
    width: 90%;
  }

  .main-scale>.box {
    width: 90%;
  }
}