
.main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 0px;
  background-color: rgba(237, 251, 255, 0.788);

  .box {
    height: auto;
    width: 20%;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 20px;
    text-align: center;
    box-shadow: 5px 5px 8px black;
    border-radius: 5px;
    transition: all 0.2s linear;
    border: 1px solid red;
    position: relative;
    bottom: 0;

    &:hover {
      /* box-shadow: 10px 10px 15px black; */
      bottom: 10px;
    }
  }
}

.main-scale {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0px;
  background-color: rgba(237, 251, 255, 0.788);
  box-shadow: 0px 0px 10px black;

  .box {
    height: auto;
    width: 20%;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 20px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.726);
    border-radius: 5px;
    transition: all 0.2s linear;
    border: 1px solid red;
    position: relative;
    bottom: 0;

    &:hover {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.726);
    }
  }
}

.mylist {
  margin: 50px 0px;
}

.mylist>h1 {
  background-color: rgb(233, 233, 233);
  margin-bottom: 5px;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

.mylist>h1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: -100%;
  background-color: orange;
  transition: all 0.5s ease;
}

.mylist>h1:hover::after {
  top: 0;
}

.mylist>h1>li {
  list-style-type: none;
  position: relative;
  z-index: 20;
  font-size: 18px;
  font-weight: 600;
}

.mylist>h1>img {
  height: 250px;
  width: 200px;
  object-fit: cover;
  position: fixed;
  top: 30%;
  right: 30%;
  border-radius: 10px;
  display: none;
  z-index: 55;
}

.mylist>h1:hover>img {
  display: block;
}

@media screen and (max-width: 950px) {
  .main>.box {
    width: 45%;
  }

  .main-scale>.box {
    width: 45%;
  }
}

@media screen and (max-width: 500px) {
  header>img {
    height: 30px;
  }

  .navbar>h1 {
    padding: 7px 10px;
    border-radius: 15px;
  }

  .navbar>h1>a {
    font-size: 16px;
  }

  .main>.box {
    width: 90%;
  }

  .main-scale>.box {
    width: 90%;
  }
}