*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

.section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./background.jpg);
    background-size: contain;
}

.ludo-clone{
    height: 760px;
    width: 760px;
    display: grid;
    grid-template-columns: repeat(8,95px);
    grid-template-rows: repeat(8,95px);
    border: 15px groove black;
}
.chessbox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.white{
    background-color: rgba(255, 255, 255);
}
.black{
    background-color: rgb(51, 48, 36);
}