* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    word-spacing: 1;
    line-height: 2;
    font-family: sans-serif;
}

.myHeader {
    height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 150px 200px auto 150px;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#logo {
    grid-column: 2;
    padding-left: 5px 0px;

}

.nav-items {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-items li {
    margin: 0px 15px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.nav-items li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.itCompany {
    margin-top: 2px;
    height: 400px;
    display: flex;
    align-items: flex-start;
    padding-left: 100px;
    justify-content: center;
    flex-direction: column;
    background-image: url('./image/it-banner-image.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.company {
    width: 47%;
    color: white;
    font-weight: 500;
    line-height: 2;
}

.company h1 {
    font-size: 32px;
    margin-bottom: 10px;
    position: relative;
}

.company h1::after {
    content: " ";
    position: absolute;
    height: 4px;
    width: 90%;
    background-color: white;
    top: 60px;
    left: 0;
}

.company p {
    font-size: 20px;
}


.aboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 80px;
    padding: 40px;
    margin: 50px 0px;
    margin-right: 50px;
}

.aboutImage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px;
    padding-left: 40px;
}

.aboutImage img {
    height: 400px;
    width: 100% !important;
    object-fit: cover;
}

.absoluteCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110%;
    grid-template-rows: 100px;
    row-gap: 20px;
    align-content: space-evenly;
    position: absolute;
    right: 0;
    top: -20;
}

.subcard {
    width: 230px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(244, 189, 1);
}

.subcard a {
    text-decoration: none;
    color: white;
}

.subcard a i {
    font-size: 40px;
    color: white;
}

.subcard a p {
    font-size: 22px;
}

#subcard1,
#subcard2 {
    background-color: rgb(23, 31, 50);
}

#subcard1:hover,
#subcard2:hover {
    background-color: rgb(244, 189, 1);
}

.aboutText h3 {
    font-size: 35px;
}

.aboutText p {
    font-size: 19px;
    text-align: justify;
}

.program {
    height: auto;
    width: 100%;
    margin: 50px 0px;
    padding: 30px 100px;
    background-color: rgb(243, 248, 249);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.procard {
    width: 400px;
    height: 360px;
    background-size: contain;
    background-position: center;
}

.procard img {
    height: 100%;
    width: 100%;
}

#procard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#procard1 h5 {
    font-size: 18px;
    color: #21a7d0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#procard1 h3 {
    color: #112958;
    font-size: 30px;
}

.contactus {
    background-image: url(https://www.hanumanttechnology.com/images/module-bg2.jpg);
    height: 300px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.contactus h2 {
    font-size: 36px;
}

.contactus h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contactus a {
    padding: 15px 30px;
    background: transparent;
    color: #21a7d0;
    border: 1px solid #21a7d0;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 3px;
}

.contactus a:hover {
    background-color: #21a7d0;
    color: white;

}

.Service {
    background-image: url(https://www.hanumanttechnology.com/images/featured-service-bg.png);
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 100px;
    align-items: center;
}

.profile {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profilecard {
    height: 260px;
    width: 28%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.05);
    padding: 30px 30px 20px;
    margin-bottom: 10px;
    border: 5px solid rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profilecard i{
    font-size: 35px;
    background: #ffbe00;
    color: white;
    padding: 30px;
    border-radius: 50%;
}
.profilecard h3{
    font-weight: 500;
    font-size: 18px;
    color: rgb(78, 78, 78);
}
hr{
    height: 1px;
    border: none;
    background-color: #e3e3e3;
}